td.view-footer, 
td.view-footer-number, 
td.view-total, 
td.view-total-number {
  font-weight:bold;
  background-color:#eaeaea;
  }

td.view-footer, 
td.view-footer-number {
  border-bottom:3px #000 double;
  border-top:1px #000 solid;
  }

td.view-groupfooter, 
td.view-groupfooter-number {
  font-weight:normal;
  background-color:#fff;
  }

td.view-groupfooter, 
td.view-groupfooter-number {
  border-bottom:1px #000 solid;
  border-top:1px #000 solid;
  margin-bottom: 10px;
  }

td.view-subfooter, 
td.view-subfooter-number {
  font-weight:normal;
  background-color:#fff;
  }

td.view-subfooter, 
td.view-subfooter-number {
  border-bottom:1px #000 solid;
  border-top:1px #000 solid;
  }

.views-calc-field-settings {
  width:60%;
  float:left;
}
.views-calc-field-names {
  width:38%;
  float:left;
  margin-left:2%;
  overflow:auto;
}
.views_calc_justify_left {
  text-align:left;
}
.views_calc_justify_right {
  text-align:right;
}
.views_calc_justify_center {
  text-align:center;
}
.views_calc_justify_none {
  text-align:none;
}
