
.ui-slider-horizontal {
  margin: 1.8em 0 0 0.4em;
  min-width: 170px;
}
.ui-slider-vertical {
  margin: 1.8em 0 1em 0.3em;
  min-height: 130px;
}
.ui-slider .slider-bubble {
  position: relative;
  top: -26px;
  border: 1px solid #ccc;
  padding: 0px 3px;
  border-radius: 4px;
  display: inline-block;
}
