.page-wizard-entrepreneur-company .vertical-tabs-list,
.page-wizard-entrepreneur-reminder .vertical-tabs-list {
  display: none;
}

.page-wizard-entrepreneur-company .vertical-tabs,
.page-wizard-entrepreneur-reminder .vertical-tabs {
  margin-left: 0;
}

.progressbar-wrapper {
  display: block;
  border: 1px solid #BBB;
  background-color: #FFF;
  height: 20px;
  width: 100%;
  margin: 20px 0 40px 0;
}

#progressbar {
  display: inline-block;
  height: 20px;
  background-color: #DDD;
}

.info-wrapper {
  display: block;
  margin: 0 0 40px 0;
  background-color: #EEE;
  padding: 20px;
  position: absolute;
  right: -180px;
  top: 40px;
  width: 120px;
}

.info-wrapper .info {
  font-weight: bold;
}

.page-wizard #user-register-form #edit-account,
.page-wizard #user-register-form
.page-wizard #user-register-form #edit-field-i-agree,
.page-wizard #user-register-form #edit-actions {
  float: none;
  width: auto;
}

.page-wizard #user-register-form #edit-actions{
  display: block;
  clear: both;
}

.page-wizard #views-exposed-form-og-extras-groups-page .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 29px;
}

#views-exposed-form-og-extras-groups-page .wizard-trail {
  margin-bottom: 20px;
}

#homepage-signup-form .form-item-email,
#homepage-signup-form .form-item-email label,
#homepage-signup-form .form-item-email #edit-email,
#homepage-signup-form #edit-submit,
.btn-suffix-free,
.homepage-submit-wrapper {
  display: inline;
  height: 40px;
  font-weight: normal;
  font-size: 14px;
  width: 294px;
}

#homepage-signup-form {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 0;
  position: relative;
}

#homepage-signup-form .form-item-email label {
  margin-right: 7px;
}

#homepage-signup-form #edit-submit {
  float: none;
  width: 95px;
  text-shadow: 1px 1px #555;
  font-weight: bold;
  margin-bottom: 0;
  background-color: transparent;
}

#homepage-signup-form #edit-submit:active,
#homepage-signup-form #edit-submit:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.homepage-submit-wrapper {
  margin: 0 0 0 10px;
  width: 140px;
  background-color: #1275FF;
  display: inline-block;
}

.btn-suffix-free {
  border-left: 1px solid #FFFFFF;
  color: #FFFFFF;
  display: inline-block;
  float: right;
  font-style: italic;
  height: 31px;
  padding: 9px 0 0 8px;
  width: 35px;
}

.front .item-list ul.hybridauth-widget li {
  margin: 0 0 0 0 !important;
}

.front .or-wrapper {
  margin: 10px 0 10px 0;
}

#inv-signup-entrepreneur-company-node-form #edit-draft,
#inv-signup-entrepreneur-reminder-form #edit-draft,
#inv-signup-entrepreneur-reminder-form #edit-preview-changes {
  display: none;
}

#block-inv-signup-invrep-homepage-signup {
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

.front #block-boxes-home-page-block h3 {
  font-size: 2em;
  color: #FFF;
  text-shadow: none;
  line-height: 1em;
}

#block-inv-signup-invrep-homepage-signup .hybridauth-linkedin-hybridauth-48:after {
  content: "Sign up using LinkedIn";
}
#block-inv-signup-invrep-homepage-signup .hybridauth-linkedin-hybridauth-48 {
  background: #1275FF url('../images/logo_in_nav_44x36.png') no-repeat 5px 4px;
  color: #FFFFFF;
  height: 35px;
  opacity: 1;
  padding-top: 10px;
  text-align: center;
  text-shadow: 1px 1px #555;
  font-weight: bold;
}

#block-inv-signup-invrep-homepage-signup .hybridauth-linkedin-hybridauth-48:hover,
#block-inv-signup-invrep-homepage-signup .hybridauth-linkedin-hybridauth-48:active,
#homepage-signup-form #edit-submit:hover,
#homepage-signup-form #edit-submit:active,
.homepage-submit-wrapper:hover,
.homepage-submit-wrapper:active {
  background-color: #30a2e4;
  cursor: pointer;
}

#homepage-signup-form label {
  top: 1px;
  left: 3px;
}

.or-wrapper:before {
  right: 1em;
  margin-left: -50%;
}

.or-wrapper:after {
  left: 1em;
  margin-right: -50%;
}

.or-wrapper:before,
.or-wrapper:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.or-wrapper {
  margin: 10px 0;
  color: white;
  overflow: hidden;
  text-align: center;
  display: block;
  font-weight: bold;
  width: 100%;
}

/*
label[for=edit-field-revenue-model-und],
label[for=edit-field-target-customers-und] {
  cursor: pointer;
  background: url('../images/arr_right.png') no-repeat;
}

label[for=edit-field-revenue-model-und] {
  background-position: 8.5em;
}

label[for=edit-field-target-customers-und] {
  background-position: 9.5em;
}
*/

#edit-field-revenue-model-und,
#edit-field-target-customers-und {
  /* display: none; */
}

.page-wizard-entrepreneur-company .text-format-wrapper .description {
  margin-bottom: 2%;
}

.vertical-tabs .form-type-textfield input#edit-phone-number {
  width: 30%;
}

.not-logged-in #region-sidebar-first {
  width: 100%;
}

article[about="/content/access-denied"] {
  padding-top: 100px;
}

.page-wizard h2 {
  font-size: 23px;
  color: #1275ff;
  text-transform: none;
  font-weight: normal;
  font-family: 'Open-sans', sans-serif;
}

.page-wizard label[for=edit-field-when-is-your-next-report-und-0-value-datepicker-popup-0] {
  display: none;
}

.page-wizard .form-item-phone-number {
  margin-top: 0;
}

.page-wizard #inv-signup-entrepreneur-reminder-form #field-when-is-your-next-report-add-more-wrapper .form-wrapper {
  margin-bottom: 0;
}

/* Signup fixes for mobile layout */
#homepage-signup-form {
  width: 330px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#homepage-signup-form .hybridauth-linkedin-hybridauth-48 {
  opacity: 1;
}

#homepage-signup-form h3 {
  display: none;
}

#block-inv-signup-invrep-homepage-signup {
  top: 195px;
}

#block-inv-signup-invrep-homepage-signup .hybridauth-linkedin-hybridauth-48 {
  width: 330px;
}

#homepage-signup-form .form-item-email,  #homepage-signup-form .form-item-email #edit-email {
  width: 175px;
}

#homepage-signup-form .item-list {
  color: #FFF;
}

.page-wizard-signup input[type="submit"] {
  height: auto; padding: 1em 2.5em;
}

.page-wizard #inv-signup-entrepreneur-company-node-form #edit-preview-changes {
  display: none;
}

.page-wizard #inv-signup-entrepreneur-company-node-form .form-item-title #autocomplete {
  width: auto !important;
  max-width: 800px !important;
  padding-right: 25px;
}

.page-wizard #inv-signup-entrepreneur-company-node-form .form-item-title #autocomplete li:hover {
  background-color: #EEEEEE;
  color: #000;
  cursor: pointer;
}

.page-wizard #inv-signup-entrepreneur-company-node-form .form-item-title #autocomplete li div {
  height: 27px;
  padding-left: 10px;
  padding-right: 65px;
  padding-top: 6px;
}

a.autocomplete-follow,
a.autocomplete-follow:link,
a.autocomplete-follow:visited {
  background-color: #1275ff;
  color: #FFF;
  padding: 3px;
  margin-top: -2px;
  position: absolute;
  right: 30px;
}

a.autocomplete-follow:hover {
  background-color: #30a2e4;
}

.page-wizard #og-ui-confirm-subscribe #edit-submit,
.page-wizard #og-ui-confirm-subscribe #edit-cancel {
  float: none;
  display: inline-block;
  margin: 0;
}