/*NARROW*/
 /* Global - Narrow(740-800) - Default 960px - Normal (980-1024) - Wide (1220) */
/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

#block-system-main-menu, #block-menu-menu-main-menu-logged-in {padding-top: 40px;
		clear:none;}

#block-boxes-home-page-block {
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-image: url('../images/breezi_placeit.png');
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	margin-top: 70px;
	background-position: center top;}

.block-block-55 {display:block;}

.container-12 .grid-2 {width: 100%;}

/*#block-boxes-home-page-block-features {height: 225px;}*/
#block-boxes-home-page-block-features #home1 p, #block-boxes-home-page-block-features #home2 p, #block-boxes-home-page-block-features #home3 p {font-size: 0.9em;
		top: 4.0em;}
#block-boxes-home-page-block-features a {font-weight: normal;
		font-size: 1.0em;}
	
#block-boxes-home-page-block-features #home1 h4, #block-boxes-home-page-block-features #home2 h4, #block-boxes-home-page-block-features #home3 h4 {top: 0.5em;}
#block-boxes-home-page-block-features #home1, #block-boxes-home-page-block-features #home2, #block-boxes-home-page-block-features #home3 {position: relative;
	min-height: 210px;}

#block-boxes-home-page-block-features #home1 img, #block-boxes-home-page-block-features #home2 img, #block-boxes-home-page-block-features #home3 img {position: absolute;
	top: 0;
	width: 100%;
	height: 100%;}

.not-logged-in #section-header {
  position: fixed;
	z-index: 100;
	width: 100%;
}

.not-logged-in.not-front #section-content {
  padding-top: 100px;
}

.not-logged-in .region-inner.region-content-inner, .not-logged-in .region-sidebar-first {margin-top:80px;}
.not-front.not-logged-in .region-inner.region-content-inner, .not-front.not-logged-in .region-sidebar-first {margin-top:110px;}
.not-logged-in #block-system-main-menu, .not-logged-in #block-menu-menu-main-menu-logged-in {margin-bottom: 0px;
	height:40px;}

.homeimagechat {width: 31%;}
/*#home1 {margin-left: 6%;}*/

#home1, #home2 {margin-right: 3.5%;}

.homeimagechat h4 {font-size:1.3em;
	height: 2.3em;
	margin-bottom: 10px;}
	

.front .homeimagechat p {font-size: 1.0em;}


#block-boxes-home-page-block h2  {min-width: 500px;
		font-size: 2.0em;}

.front .block-block-1 {width: 100%;}

.front #block-boxes-home-page-block p, #block-boxes-home-page-block img {display: block;}
/*#block-boxes-home-page-block img.imagefront {display: block;}*/


#block-boxes-invrep-members-block-on-homepage h2 {font-size: 1.2em;
	color: #ac5bb4;}

#views-exposed-form-og-extras-groups-page .views-widget #edit-title {width: 300px;
		font-size: 1.1em;}
		
#edit-field-revenue-model, #edit-field-target-customers {width:40%;
	float: left;}
#edit-field-website {clear:left;}
/*Plas and Pricing block heights */

/*#block-boxes-plan-invrep-member, #block-boxes-plan-invrep-certified, #block-boxes-plan-invrep-accredited {min-height: 1250px;} */


/*Formatting for Invrep Startup Orbit Chart */
/*The filters*/
/*.page-my-portfolio #views-exposed-form-google-bubble-chart-test-page-1 {float: left;
		width: 25%}		*/

/*Removing gutters from sidebar*/
.page-my-portfolio .grid-2 {margin-right: 0px;
	width: 100%;
	float:left;}
.page-my-portfolio .grid-9 {margin-left: 0px;
	width: 100%;
	float:left;}
.page-my-portfolio .grid-10 {margin-left: 0px;
	min-width: 100%;}

		
.page-my-portfolio .view-id-google_bubble_chart_test {clear:left;
		padding-top: 2em;}

		
/*Your Activity at top*/
.block-block-54 {float: left;
		margin-right: 3em;
		margin-left: 10px;}
.view-my-portoflio-comment-by-investor.view-id-my_portoflio_comment_by_investor.view-display-id-block_1,
.view-my-portoflio-comment-by-investor.view-id-my_portoflio_comment_by_investor.view-display-id-block_2,
.view-id-og_user_groups.view-display-id-block_4 {margin-right: 3em;}

.view-my-portoflio-comment-by-investor.view-id-my_portoflio_comment_by_investor.view-display-id-block_1 .view-header {clear:left;
		float:left;}		
.view-my-portoflio-comment-by-investor.view-id-my_portoflio_comment_by_investor.view-display-id-block_1 .view-content {display:inline;}


/*links to investments */
.page-my-portfolio .view-id-number_of_companies_and_reports.view-display-id-block_2,
.page-my-portfolio .view-id-my_portoflio_comment_by_investor.view-display-id-block {float: left;
		width: 47%;
		clear:left;
    margin-bottom: 2em;}

.page-my-portfolio .view-id-number_of_companies_and_reports.view-display-id-block_2 .view-content {height: 600px;
  overflow: auto;}

::-webkit-scrollbar {
  width: 12px;
  background: white;
  background: linear-gradient(0deg,#ddd,#eee);
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #2f7ed8;
  background: linear-gradient(#7dc5ee, #008cdd 85% ,#30a2e4);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


.page-my-portfolio .view-id-number_of_companies_and_reports.view-display-id-block_7 {float:right;
		width: 47%;
		clear:right;}

.page-my-portfolio .view-id-number_of_companies_and_reports.view-display-id-block_7 {margin-left: 5%;
		clear:right;}		

.page-my-portfolio .view-id-number_of_companies_and_reports.view-display-id-block_5 {clear:left;
		float:left;}

/*Cash headroom & fundraising */
.page-my-portfolio .view-id-swf_clone_of_og_user_groups.view-display-id-block_8 {width: 20%;}

/*pie charts*/
.page-my-portfolio .zone-postscript {margin-top: 3em;}
		
.page-my-portfolio .block.block-views .content.clearfix:after, .page-my-portfolio .block.block-views .block-inner.clearfix:after,
.front .block.block-views .content.clearfix:after, .front .block.block-views .block-inner.clearfix:after,
.page-groups .block.block-views .content.clearfix:after, .page-groups .block.block-views .block-inner.clearfix:after {content: none;}
		
.page-my-portfolio #value, .page-my-portfolio #volume {height: 250px;
		float: right;
		background-color: #555;
		text-align: center;
		clear: right;
		margin-bottom: 13em;
		font-size: 0.8em;
		padding-top: 2em;}
		
#value p, #volume p {color: #fff;}
.page-my-portfolio #pieheader {text-align: center;}

.page-my-portfolio #region-postscript-first,
.page-my-portfolio #value, 
.page-my-portfolio #volume,
.page-my-portfolio #pieheader {width: 10em;}


