/*DEFAULT*/
 /* Global - Narrow(740-800) - Default 960px - Normal (980-1024) - Wide (1220) */
/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

.logged-in #ugh {display:none;}
.view-id-group_quarterly_updates_on_group.view-display-id-block_5 .view-content, .page-my-portfolio .view-id-google_bubble_chart_test.view-display-id-page_1 {display:block;}

.platformtext {width: 45%;
	margin-left: 5%;}
.platformtext h3 {margin-top: 1em;}
.mac {width: 45%;
	margin-left: 5%;
	display: block;}
.macphone {display:none;}

#block-boxes-home-page-block-features {height: 225px;}
#block-boxes-home-page-block-features #home1 p, #block-boxes-home-page-block-features #home2 p, #block-boxes-home-page-block-features #home3 p {font-size: 1.0em;
		top: 5.5em;}
#block-boxes-home-page-block-features #home1 h4, #block-boxes-home-page-block-features #home2 h4, #block-boxes-home-page-block-features #home3 h4 {top: 1.2em;
		font-size:1.6em;}

#block-views-og-extras-groups-block-1 {display:block;}

#block-views-og-extras-groups-block-3 {display:none;}

#block-boxes-home-page-block img.imagefront {display: none;}

#block-boxes-home-page-block {max-height: 1000px;}

#block-boxes-home-page-block {/*background-position: bottom right;*/
		/*background-color: none;*/
		/*width: 95%;*/}

#block-boxes-home-page-block h2  {width: 26em;
	font-size: 2.4em;}

.front .block-block-1 {width: 100%;}

/*for aligning add your company and Search box on Companies page */

.front.logged-in .container-12 .grid-10, .logged-in.page-groups .container-12 .grid-10 {width: 75%;}

#block-boxes-add-your-company-button {float:right;
	width: 45%;
	margin-right: 1em;} 

#block-views-exp-og-extras-groups-page,
#block-boxes-home-page-investor-logged-in {float:left;
	width:45%;
	margin-right:2em;
	clear:left;}
.front #block-views-exp-og-extras-groups-page {margin-bottom: 10em;}

	
#views-exposed-form-og-extras-groups-page {text-align: center;}
	
#block-views-exp-og-extras-groups-page .views-exposed-widget {padding-top: 0px;}
#block-views-exp-og-extras-groups-page .views-exposed-widget .form-submit {margin-top: 0px;}
.view-og-extras-groups.view-id-og_extras_groups.view-display-id-page {clear:left;}
	
/* for aligning linked in signin button and registration form*/

#user-register-form .item-list, #user-login .item-list {float:left;
	width: 220px;
	padding-right: 4%;
	border-right: 2px solid #eee;
	margin-right: 3%;}
	
#user-register-form #edit-account, #user-register-form #edit-field-profile-picture, #user-register-form #edit-field-i-agree, #user-register-form #edit-actions, #user-login .form-item-name, #user-login .form-item-pass {float:right;
	width: 60%;}
#user-login #edit-actions {float:right;
	width: 62%;}
#user-login .form-item-name {clear:none;}

#edit-account {float:right;
	width:60%;}
	
#user-register-form #edit-submit {clear:both;
	float:left;}

.page-user-edit #edit-account {float:left;}

/* for the jquery tab iwdth and border (slightly different on phones) */
#node-page-5 .ui-tabs .ui-tabs-nav li a h2, #node-page-2 .ui-tabs .ui-tabs-nav li a h2, #node-article-34 .ui-tabs .ui-tabs-nav li a h2 {font-size: 1.6em;
		margin-bottom: 0.7em;} 
.ui-tabs-vertical .ui-tabs-nav {min-width: 10em; }
.ui-tabs-vertical .ui-tabs-panel {width: 60%;
		border-left: 1px solid #d3d3d3;}


.ui-tabs-vertical .ui-tabs-nav li { clear: left; 
		width: 100%;
		margin: 0 -1px 0.4em 0;
		border-right-width: 0 !important;}
		
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {margin-right: -1px;}

.ui-corner-left {border-top-right-radius: 0px;
		-moz-border-radius-topright: 0px;
		-webkit-border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		-moz-border-radius-bottomright: 0px;
		-webkit-border-bottom-right-radius: 0px}
	

.page-my-portfolio .container-12 .grid-2,
.context-investor-dashboard .container-12 .grid-2 {margin-left: 0px !important;
	width: 100%;}
	
.page-my-portfolio .grid-12,
.context-investor-dashboard .grid-12 {margin-left: 0px;}

.logged-in.page-my-portfolio .region-inner.region-menu-inner,
.logged-in.context-investor-dashboard .region-inner.region-menu-inner {padding-left: 0px;
	padding-right: 0px;}

.node-type-startup-groups .view-footer .tooltip-hover:hover,
.view-footer .tooltip-hover:hover,
.view-footer .tooltip-hover   {display: block;}

.view-footer .tooltip-image {display:none;}
.view-footer .tooltip-hover:hover .tooltip-image {display:block;
		position: relative;
		top: -420px;	
		width: 750px;
		left: -30%;
		height: 420px;
		background: #fff;
		z-index: 2;}			
.view-footer .tooltip-hover {height: 1.5em;}	
.page-my-portfolio .view-footer .tooltip-hover:hover .tooltip-image,
.context-investor-dashboard .view-footer .tooltip-hover:hover .tooltip-image {top: -420px;
		left: -250px;}
.node-type-startup-groups .view-footer .tooltip-hover:hover .tooltip-image {top: -410px;
		left: -125px;}
		
#block-views-og-user-groups-jumpmenu{
  right:215px;
  top:10px;}

.view-countdown-timer-to-next-quarterly-report {margin-top: -0.5em;}		
		
.logged-in #zone-branding-wrapper {height: 60px;}

#block-menu-menu-main-menu-logged-in {padding-top: 2%;
   padding-bottom: 0px;}

/* Signup fixes for default layout */
#homepage-signup-form {
  width: 448px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#block-inv-signup-invrep-homepage-signup {
  top: 255px;
}

#block-inv-signup-invrep-homepage-signup .hybridauth-linkedin-hybridauth-48 {
  width: 448px;
}

#homepage-signup-form .form-item-email,  #homepage-signup-form .form-item-email #edit-email {
  width: 294px;
}
		
		
