/* This file will hold styles that are loaded using the same media query as the wide grid. */

/*#block-views-og-extras-groups-block-1 {display:none;}

#block-views-og-extras-groups-block-3 {display:block;
	width: 90%;}*/
	
.block-block-4 {width: 90%;
	min-width:85%;}
	
#block-boxes-home-page-block {width: 100%;
	/*background-position: -10px 0px;*/}
	
/*#block-boxes-home-page-block h2  {font-size: 2.0em;}*/

#block-boxes-home-page-block img.imagefront {display: none;}

#block-boxes-home-page-block-features {height: 255px;}
#block-boxes-home-page-block-features #home1 p, #block-boxes-home-page-block-features #home2 p, #block-boxes-home-page-block-features #home3 p {font-size: 1.0em;
		top: 5.0em;}
		
.page-my-portfolio .container-12 .grid-2,
.page-my-portfolio .container-12 .grid-9,
.context-investor-dashboard .container-12 .grid-2,
.context-investor-dashboard .container-12 .grid-9 {width: 100%;}