/*NORMAL*/
 /* Global - Narrow(740-800) - Default 960px - Normal (980-1024) - Wide (1220) */
/* FOR DESKTOP ETC - This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 /* Global - Narrow(740-800) - Default 960px - Normal (980-1024) - Wide (1220) */
 /*This file affects iPad landscape*/

#video_holder_div {min-width: 980px;
      margin-top: 2em;}
#video_holder_div .div {margin-top: 0em;}

#block-boxes-home-page-block-features #home1, #block-boxes-home-page-block-features #home2, #block-boxes-home-page-block-features #home3 {min-height: 230px;}


#restricted-access h2, #restricted-access p {color: #fff;}
#restricted-access a {color: #ffcc00;}
#restricted-access a:hover {color: #fff;}

#block-block-37 {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	background: none repeat scroll 0% 0% rgb(123, 0, 153);
	opacity: 0.85;
	min-width: 100%;
	width: 1000px;
	height: 800px;
	min-height: 100%;
	margin-left: 0px;}
#restricted-access {padding: 4%;
	position: fixed;}

#block-views-og-extras-groups-block-1 {display:block;}
#block-views-og-extras-groups-block-3 {display:none;}
 
 
.block-block-5, .block-block-9 	
		{display: block;
		position:fixed;
		top:250px;
		left:20px;
		margin-left:auto;
		width: 150px;
		background-color: #fff;
		padding: 30px;
		-webkit-box-shadow: 0 -3px 5px 3px #dddddd;
		-moz-box-shadow: 0 -3px 5px 3px #dddddd;
		box-shadow: 0 -3px 5px 3px #dddddd;}
		
#block-block-5, #block-block-9 	{display: block;}

.block-og-user-groups-block-1 {display: block;}

.block-block-31 ul {display:block;}

.block.block-31 ul li p	{background-color: #fff;
		max-width: 325px;}
.block.block-31 ul li p.bump {margin-left: 32px;}

.block-block-31 {height:275px;
	width: 90%;}



.block.block-2 {width: 250px;
	max-width: 44%;
	min-width: 38%;
	margin-right: 0;}

.block.block-2 h3 {margin-bottom: 1.2em;}
	
/*.block-block-32 h2 {font-size: 2.6em;}*/

.front .block-block-32 p {text-transform: none;
	font-weight:normal;
	font-size: 1.7em;}
	
/*block-1 is the three benefits block on the homepage */
	
.front .block-block-1 h2 {text-transform: none;
	font-size: 1.7em;}
	
.front .block.block-1 {
	width: 100%;
	padding-top: 2%;
	clear:both;
	margin-bottom: -1px;
	/*margin-top: 3%;*/
	border-bottom: none;
	background-color: #7b0099;
	background: -webkit-linear-gradient(top, #7b00ff, #7b0099);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7b00ff), to(#7b0099));
	background: -moz-linear-gradient(top, #7b00ff, #7b0099);
	background: -ms-linear-gradient(top, #7b00ff, #7b0099);
	background: -o-linear-gradient(top, #7b00ff, #7b0099);}

#block-boxes-home-page-block button {font-size: 1.6em;
	height: 2.3em;}


.front p, .front li, front a {font-size: 17px;}
	
.front .views-field-body p {font-size: 15px;} 
	
/*#block-user-login, #block-system-user-menu {
		max-width: 520px;
		min-width: 510px;
		border: none;
		float:right;
		padding-left:0px;}*/
		
#block-system-main-menu, #block-menu-menu-main-menu-logged-in {padding-top: 1.0em;
		clear:none;}

	
#user-login-form .item-list ul li.first {margin-top: 20px;}

#user-login-form .form-submit {margin-top: 18px;}

#block-user-new, #block-views-og-extras-mmbers-block-1 {display: block;}

#block-system-main-menu li, #block-boxes-block-login li, #block-menu-menu-main-menu-logged-in li {padding: 0.5% 1.5% 0.5% 1.5%;}

/*block-39 is the main homepage image */

.front #block-boxes-home-page-block p, #block-boxes-home-page-block img {display: block;}
#block-boxes-home-page-block img.imagefront {display: none;}

#block-boxes-home-page-block h2  {font-size: 2.4em;
	width: 85%;
	min-width: 600px;}


.front .block-block-40 p#strapline {padding-left: 3%;
	padding-bottom: 2%;
	margin-bottom: 2%;}

.block-block-4 {width: 95%;}

.quotebox {margin-bottom: 2%;
	margin-right: 5px;}

.foundersleft, .fundersright {width: 45%;
		padding: 2%;}

/*.foundersleft:hover, .fundersright:hover {
		background-color: rgba(255,204,0,0.2);}*/

.fundersright {padding-left: 3%;}

#block-boxes-plan-invrep-member, #block-boxes-plan-invrep-certified, #block-boxes-plan-invrep-accredited {width: 29%;}
#block-boxes-plan-invrep-member, #block-boxes-plan-invrep-certified {margin-right: 6%;}

.page-node-6 .planblock {width: 22%;
		margin-right: 4%;}
.page-node-6 #planpremium.planblock {margin-right: 0px;}

.view-og-extras-groups .views-row-1 {margin-left: 0px;}

/* this is to hide constitutional docs block on mobile and just show links */
#block-views-group-fields-on-group-block-1 {display:block;}
#block-views-group-fields-on-group-block-3 {display:none;}
.view-id-group_quarterly_update_chart_on_group.view-display-id-block {display:block;}

/*my portfolio - to get bubble chart next to options */
.page-my-portfolio .container-12 .grid-10 {width: 80%;}

.page-my-portfolio .grid-10 {margin-left: 0px;
	min-width: 100%;}
	
/*footer area stuff */
